:local(.menu-container){
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 56px;
  align-items: center;
  bottom: 0;
  background-color: #f5f5f5
}

:local(.menu-container__link){
  margin: 0 10px;
}